# --- ANALYZER REQUIREMENTS ---
opencv-python
numpy
pandas
scenedetect
paddleocr
easyocr
paddlepaddle
scikit-image
matplotlib

# --- CHATBOT REQUIREMENTS ---
requests
python-dotenv

# --- EDITOR REQUIREMENTS ---
shotstack-sdk
pillow
moviepy

# --- UTILITIES ---
typing-extensions
fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
paddleocr
paddlepaddle
easyocr
shotstack-sdk
python-dotenv
google-api-python-client
google-auth-oauthlib
pandas
scenedetect
