# --- ANALYZER REQUIREMENTS ---
easyocr
matplotlib
numpy
paddleocr
# paddlepaddle
pandas
scenedetect
scikit-image
opencv-python-headless

# --- CHATBOT REQUIREMENTS ---
python-dotenv
requests

# --- EDITOR REQUIREMENTS ---
moviepy
pillow
shotstack-sdk

# --- UTILITIES ---
fastapi
google-api-python-client
google-auth-oauthlib
python-multipart
typing-extensions
uvicorn[standard]
